* {
    padding: 0px;
    margin: 0px;
}

:root {
    --base-width: 620px;
    --fonts-size: 13px;
    --active-color: rgb(37 131 215);
    --page-bg-color: #fff;
    --input-bg-color: #e3e8ee57;
    --sep-color: #efe6e6;
    --font-color: #585353;
    --base-color: rgb(44 156 204);
    --tag-dock-visible: block;
    --gap-color: #c4cfd1;
    --input-height: 1.2em;
}


@media (min-width:0px) and (max-width: 700px) {
    :root {
        --base-width: 100vw;
        --tag-dock-visible: none;
    }
}

.dark {
    --active-color: rgb(37 131 215);
    --page-bg-color: #212020;
    --input-bg-color: #4042448a;
    --sep-color: #393838;
    --font-color: #ded4d4;
    --base-color: rgb(28 152 206);
    --gap-color: #494c4c;
}

/* 设置滚动条的样式 */
html::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

/* 滚动槽 */
html::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgb(179, 188, 201);
}

/* 滚动条滑块 */
html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--base-color);
}


/* 设置滚动条的样式 */
html::-moz-scrollbar {
    width: 1px;
    height: 0px;
}

/* 滚动槽 */
html::-moz-scrollbar-track {
    border-radius: 5px;
    background: rgb(9, 35, 92);
}

/* 滚动条滑块 */
html::-moz-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(21, 126, 201);
}

.popup {
    position: absolute;
    width: 100%;
    top: .5em;
    box-sizing: border-box;

    .popup-inner {
        width: var(--base-width);
        display: flex;
        margin: 0px auto;
        padding: .5em;
        color: var(--font-color);
        border-radius: .2em;
        background: var(--base-color);

        .msg {
            flex: 1;
        }

        .close {
            cursor: pointer;
        }

        .close:hover {
            transform: scale(1.2);
        }
    }
}

body {
    position: relative;
    background-color: var(--page-bg-color);
}

.btn {
    cursor: pointer;
    color: var(--base-color);
    padding: .2em;

    svg {
        width: 20px;
        height: 20px;
    }

    a {
        color: var(--base-color);
        text-decoration: none !important;
    }
}

.btn:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

.active {
    font-weight: bolder;
    border-radius: .1em;
    background-color: var(--base-color);

    a {
        color: #fff !important;
    }
}

input,
select,
textarea {
    flex: 1;
    display: block;
    max-width: 100%;
    outline: none;
    padding: .5em;
    border: 1.5px solid var(--base-color);
    border-radius: 5px;
    appearance: none;
    color: var(--font-color);
    background: var(--input-bg-color);
    background-image: none;

}

details {
    padding: 1em;
    box-sizing: border-box;
    background-color: var(--input-bg-color);
    border-radius: 5px;
}

input {
    height: var(--input-height);
}

input:focus-visible {
    border-color: var(--active-color);
}

select:focus-visible {
    border-color: var(--active-color);
}

.icon-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;

    svg {
        width: 1em;
        height: 1em;
        pointer-events: none;

        path {
            fill: var(--base-color) !important;
        }
    }

    span {
        pointer-events: none;
    }

    a {
        display: flex;
        align-items: center;

    }
}

.icon-btn:active {
    background-color: var(--active-color);
}

.icon-btn:hover {
    transform: scale(1.1);
}

.url:hover {
    text-decoration: underline !important;
}

.disable {
    border: none !important;
    pointer-events: none;
    opacity: 0.7;
}

button {
    padding: 1em;
    cursor: pointer;
    color: var(--font-color);
    border-radius: .1em;
}

button.submit {
    width: 100%;
    appearance: none;
    padding: .5em;
    border-radius: .5em;
    border: none;
    background-color: var(--base-color);
}

button.submit:hover {
    opacity: 0.7;
}

button.submit:active {
    opacity: 0.7;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0px;
    text-decoration: none;
    color: var(--base-color);
    cursor: pointer;
}

.icon:hover {
    text-decoration: underline !important;
}

a {
    color: var(--base-color);
}



.gap {
    color: var(--gap-color);
}

.invisible {
    height: 0px;
    opacity: 0;
    pointer-events: none;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--base-width);
    min-height: 100vh;
    padding: .5em 1em;
    margin: 0px auto;
    font-size: var(--fonts-size);
    color: var(--font-color);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 0.5em 0em;
    border-bottom: 1px solid var(--sep-color);

    #theme-switch {
        svg {
            width: 2em !important;
            height: 2em !important;
        }
    }

    .navs {
        flex: 1;
        display: flex;
        justify-content: right;
        gap: 1em;

        .nav-item {
            text-align: center;
            cursor: pointer;
        }

        a {
            font-weight: bold;
        }
    }
}


.dark #theme-switch svg:first-child {
    path {
        fill: var(--base-color) !important;
    }
}

.content {
    position: relative;
    flex: 1;
    padding: 1em 0em;
}

footer {
    display: block;
    width: 100%;
    margin: 1em 0em;
    padding-top: 1em;
    text-align: center;
    border-top: 1px solid var(--sep-color);
}