.links {
    flex: 1;
    padding-top: 1em;

    .link {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: .2em;
        margin: 1em 0em;
        border-radius: .2em;
        box-sizing: border-box;
        background-color: #dae1e9;

        .link-header a {
            display: block;
            width: 100%;
            word-break: break-all;
            color: var(--base-color);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }
        .link-desc {
            word-break: break-all;
        }

        .link-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0em 1em;

            .tag-item {
                color: rgb(88, 214, 214);
            }
        }

        .link-opts {
            display: flex;
            justify-content: space-around;
            gap: 0.2em 1em;
            svg :hover {
                transform: scale(1.3);
            }
        }
    }
}
