* {
    padding: 0px;
    margin: 0px;
}



:root {
    --base-width: 700px;
    --fonts-size: 13px;
    --active-color: rgb(37 131 215);
    --bg-color: #fff;
    --input-bg-color: #d3d5d757;
    --sep-color: #cecccc;
    --font-color: #585353;
    --base-color: rgb(74, 178, 223);
}

@media (min-width:0px) and (max-width: 700px) {
    :root {
        --base-width: 100vw;

    }
}

body {
    background-color: var(--bg-color);
}

.btn {
    cursor: pointer;
    color: var(--base-color);
    text-decoration: none;

    svg {
        width: 20px;
        height: 20px;
    }

    a {
        color: var(--base-color);
    }
}

path {
    fill: var(--base-color) !important;
}

.btn:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

input,
select,
textarea {
    display: block;
    max-width: 100%;
    outline: none;
    width: 100%;
    padding: .5em;
    border: 1.5px solid var(--base-color);
    border-radius: 5px;
    appearance: none;
    color: var(--font-color);
    background: var(--input-bg-color);
    background-image: none;

}

input:focus-visible {
    border-color: var(--active-color);
}

select:focus-visible {
    border-color: var(--active-color);
}

.icon-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    svg {
        width: 20px;
        height: 20px;
    }

    a {
        display: flex;
        align-items: center;
    }
}
.icon-btn:active {
    background-color: var(--active-color);
}
.icon-btn:hover {
    transform: scale(1.1);
}
button {
    padding: .5em;
    cursor: pointer;
    color: var(--font-color);
    border-radius: .1em;
}

button.submit {
    appearance: none;
    border-radius: .5em;
    border: none;
    background-color: var(--base-color);
}

button.submit:hover {
    opacity: 0.7;
}

button.submit:active {
    opacity: 0.7;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0px;
    text-decoration: none;

}

a {
    color: var(--base-color);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--base-width);
    min-height: 100vh;
    padding: 1em;
    margin: 0px auto;
    font-size: var(--fonts-size);
    color: var(--font-color);
    /* background-color: rgba(236, 236, 239, 0.587); */
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding: 0.5em 0em;
    /* background-color: #f00; */
    border-bottom: 1px solid var(--sep-color);

    .navs {
        flex: 1;
        display: flex;
        justify-content: right;
        gap: 2em;
        .nav-item {
            cursor: pointer;
        }
        a {
            font-weight: bold;
        }
    }
}

.content {
    position: relative;
    flex: 1;
    padding: 1em 0em;
}

footer {
    display: block;
    width: 100%;
    margin: 1em 0em;
    padding-top: 1em;
    text-align: center;
    border-top: 1px solid var(--sep-color);
}