{{ define "style"}}
<link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/index.css" />
<script defer src="{{$.Env.BaseURL}}/static/js/link.js"></script>
{{ end }} 

{{ define "content"}}
<div class="links">
  {{ range .Data }}
  <div class="link">
    <div class="link-header">
      <img class="favicon" src="{{.Icon}}" alt="icon" />
      <a href="{{.Url}}" target="_blank" rel="noopener">
        <span>{{ .Title }}</span>
      </a>
    </div>
    <div class="link-desc">
      <span class="link-desc-text">{{.Desc}}</span>
    </div>
    <div class="link-tags">
      {{ range .Tags }}
      <a class="tag-item btn" href="/?tag={{.Name}}">#{{.Name}}</a>
      {{ end }}
    </div>
    <div class="link-opts">
      <a href="{{$.Env.BaseURL}}/link/read/{{.ID}}" class="opt-item icon-btn" title="阅读状态">
        {{if .Read}}
        <span>标为未读</span>
        {{ else }}
        <span>标为已读</span>
        {{end}}
      </a>
      <a href="{{$.Env.BaseURL}}/link/edit/{{.ID}}" class="opt-item icon-btn" title="编辑">
        <span>编辑</span>
      </a>
      <a href="{{$.Env.BaseURL}}/link/delete/{{.ID}}" class="opt-item icon-btn" title="删除">
        <span>删除</span>
      </a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
