{{ define "style"}}
  <link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_add.css" />
  <link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_edit.css" />
{{ end }} 

{{ define "content"}}
<form action="{{$.Env.BaseURL}}/link/update/{{.Data.Link.ID}}" method="post">
  <ul>
    <li>
      <label for="title">标题</label>
      <input type="text" name="title" value="{{.Data.Link.Title}}" placeholder="标题" />
    </li>
    <li>
      <label for="title">地址</label>
      <input type="text" name="url" value="{{.Data.Link.Url}}" placeholder="地址" />
    </li>
    <li>
      <label for="title">描述</label>
      <input type="text" name="desc" value="{{.Data.Link.Desc}}" placeholder="描述" />
    </li>
    <li>
      <input  id="tags" class="invisible" type="text" name="tags" value="{{.Data.Link.Tags | JoinTagNames}}" />
    </li>
  </ul>
  <div class="tag-update">
    <div class="tag-box">
      <label >已应用标签</label>
      <select id="current-tag"  multiple="multiple" size="10" >
        {{ range .Data.Link.Tags }}
        <option value="{{.Name }}">{{.Name }}</option>
        {{ end }}
        </select>
    </div>
    <div class="tip">
      <p>双击添加和删除</p>
      <p><==></p>
    </div>
    <div class="tag-box">
      <label >未应用标签</label>
      <select id="all-tag"  multiple="multiple">
        {{ range .Data.Tags }}
        <option value="{{.Name }}">{{.Name}}</option>
        {{ end }}
        </select>
    </div>
  </div>
  <button class="submit" type="submit">更新</button>
</form>
<script defer>
  let allTagEle = document.getElementById('all-tag')
  let curTagEle = document.getElementById('current-tag')
  let tagsEle = document.getElementById('tags')
  function changeTageItems(name, flag){
    let names = tagsEle.value.split(',')
    if (flag == 1){
      names.push(name)
    } else {
      names.splice(names.indexOf(name), 1)
    }
    tagsEle.value = names.join(',')
    console.log(tagsEle.value)
  }
  allTagEle.addEventListener('dblclick', function(e) {
    curTagEle.appendChild(e.target)
    changeTageItems(e.target.value, 1)

  })
  curTagEle.addEventListener('dblclick', function(e) {
    allTagEle.appendChild(e.target)
    changeTageItems(e.target.value, 0)
  })
</script>
{{ end }}
