{{ define "style"}}
<link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_add.css" />
<link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_edit.css" />

{{ end }} 

{{ define "content"}}
<form action="{{$.Env.BaseURL}}/link/add" method="post">
  <ul>
    <li>
      <label for="title">网页链接*</label>
      <input type="text" name="url" value="" placeholder="网页地址" />
    </li>
  </ul>
  <ul>
    <details>
      <summary>其他信息</summary>
      <li>
        <label for="title">网页描述&nbsp;&nbsp;</label>
        <input type="text" name="desc" value="" placeholder="网页描述" />
      </li>
      <li>
        <label for="tags">添加标签&nbsp;&nbsp;</label>
        <textarea  id="tags" type="text" name="tags" value="" placeholder="多个标签用&分隔"></textarea>
      </li>
      <li>
        <details>
          <summary>指定标签</summary>
          <div class="tag-update">
            <div class="tag-box">
              <label >直接填写或双击添加下面的已有的标签项</label>
              <select id="all-tag"  multiple="multiple">
                {{ range .Data }}
                <option value="{{.Name }}">{{.Name}}</option>
                {{ end }}
                </select>
            </div>
          </div>
        </details>
      </li>
    </details>
  </ul>


  <button class="submit" type="submit">添加</button>
</form>
<script defer>
  let allTagEle = document.getElementById('all-tag')
  let tagsEle = document.getElementById('tags')
  function changeTageItems(name, flag){
    if (tagsEle.value == ''){
       tagsEle.value = name
       return
    }
    let names = tagsEle.value.split('&')
    names.push(name)
    tagsEle.value = names.join('&')
  }
  allTagEle.addEventListener('dblclick', function(e) {
    changeTageItems(e.target.value)
  })
</script>
{{ end }}
