{{ define "style"}}
<link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_add.css" />
<link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_edit.css" />
<style>
  .tags {
    display: flex;
    gap: 1em;
    margin: 2em 0em;

  }
  .tag-box {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em auto;
    label {
      text-align: center;
    }
  }
  .tip {
    text-align: center;
  }
  ul{
    list-style: none;
  }
</style>
{{ end }} 

{{ define "content"}}
<div class="tag-update">
  <div class="tag-info">
    <details open>
      <summary>基础信息</summary>
      <ul>
        <li>
          <label for="name">标签名称</label>
          <input id="tag-update-name" data-id="{{.Data.Tag.ID}}" type="text" name="name" value="{{.Data.Tag.Name}}" placeholder="标签名">
        </li>
        <li>
          <label for="create_time">创建日期</label>
          <input  type="text" readonly  value="{{.Data.Tag.CreateTime | TimeFMT}}" placeholder="标签名">
        </li>
        <li>
          <button id="tag-update-name-btn" class="submit" type="submit">更新</button>
        </li>
      </ul>
    </details>
  </div>
  <details>
    <summary>书签</summary>
    <div class="tag-box">
      <label >已应用书签</label>
      <select id="first-select-box"  multiple="multiple" min-size="10" >
        {{ range .Data.Applied }}
        <option value="{{.ID}}">{{.Title }}</option>
        {{ end }}
        </select>
    </div>
    <div class="tip">
      <p>双击添加或移除书签</p>
      <p>↓&nbsp;&nbsp;↑</p>
    </div>
    <div class="tag-box">
      <label >未应用书签</label>
      <select id="second-select-box"  multiple="multiple" size="20">
        {{ range .Data.Unapplied }}
        <option value="{{.ID}}">{{.Title }}</option>
        {{ end }}
        </select>
    </div>
    <button id="tag-update-link-btn" class="submit" type="submit">更新</button>

  </details>
</div>
<script defer>
  let firstEle = document.getElementById('first-select-box')
  let secondEle = document.getElementById('second-select-box')
  
  firstEle.addEventListener('dblclick', function(e) {
    if(e.target instanceof HTMLSelectElement){
      return
    }
    secondEle.appendChild(e.target)

  })
  secondEle.addEventListener('dblclick', function(e) {
    if(e.target instanceof HTMLSelectElement){
      return
    }
    firstEle.appendChild(e.target)
  })

  document.getElementById('tag-update-name-btn')?.addEventListener('click', function() {
    let name = document.getElementById('tag-update-name')?.value
    let id = document.getElementById('tag-update-name')?.getAttribute('data-id')
    if (!name || !id) {
      return
    }
    if (!confirm("确认更新")) return
    fetch('{{$.Env.BaseURL}}/api/tag/update/name', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        name: name,
        id: Number(id),
      })
    }).then(res =>{
      res.json().then(data =>{
        window.location.reload()
      })
    })
  })

  document.getElementById('tag-update-link-btn')?.addEventListener('click', function() {
    confirm("确认更新")
    let id = document.getElementById('tag-update-name')?.getAttribute('data-id')
    if (!id) {
      return
    }
    let links = []
    for (let e of firstEle.getElementsByTagName('option')) {
      links.push(Number(e.value))
    }

    fetch('{{$.Env.BaseURL}}/api/tag/update/link', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: Number(id),
        links: links
      })
    }).then(res =>{
      res.json().then(data =>{
        window.location.reload()
      })
    })
  })


</script>
{{ end }}
