{{ define "template" }}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel=“canonical” href=“https://example.com/sample-page/” />
    <meta name="description" content="markless，记录网联网。" />
    <link rel="icon" href="{{$.Env.BaseURL}}/static/img/favicon16.ico" sizes="16x16" type="image/x-icon">
    <link rel="icon" href="{{$.Env.BaseURL}}/static/img/favicon32.ico" sizes="32x32" type="image/x-icon">
    <link rel="icon" href="{{$.Env.BaseURL}}/static/img/favicon48.ico" sizes="48x48" type="image/x-icon">
    <link rel="icon" href="{{$.Env.BaseURL}}/static/img/favicon64.ico" sizes="64x64" type="image/x-icon">
    <link rel="icon" href="{{$.Env.BaseURL}}/static/img/favicon180.ico" sizes="180x180" type="image/x-icon">
    <link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/template.css"/>
    <script defer src="{{$.Env.BaseURL}}/static/js/user.js"></script>
    <script defer src="{{$.Env.BaseURL}}/static/js/msg.js"></script>
    <script>
      window.baseURL = "{{$.Env.BaseURL}}";
    </script>
    {{ template "style" . }}
    <title>{{.Page.Title}}</title>
  </head>
  <body>
      <!-- 切换显示模式 -->
      <script src="{{$.Env.BaseURL}}/static/js/theme.js"></script>
    <div id="container" class="container">
      <header>
        <div class="icon ">
          <span id="theme-switch" class="theme-switch" >
            <svg t="1726691146024" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1277" width="200" height="200"><path d="M791.272727 89.041455C791.272727 0 698.181818 0 698.181818 0L325.818182 0c0 0-93.090909 0-93.090909 89.041455L232.727273 1024l279.272727-267.124364L791.272727 1024 791.272727 89.041455z" p-id="1278" fill="#1296db"></path></svg>
          </span>
        </div>
        <div class="navs">
          {{ if eq $.Page.Active "all"}}
          <span class="nav-item btn active"><a href="{{$.Env.BaseURL}}/all">所有</a></span>
          {{ else }}
          <span class="nav-item btn"><a href="{{$.Env.BaseURL}}/all">所有</a></span>
          {{ end }}
          {{ if eq $.Page.Active "unread"}}
          <span class="nav-item btn active"><a href="{{$.Env.BaseURL}}/unread">未读</a></span>
          {{ else }}
          <span class="nav-item btn"><a href="{{$.Env.BaseURL}}/unread">未读</a></span>
          {{ end }}
          {{ if eq $.Page.Active "read"}}
          <span class="nav-item btn active"><a href="{{$.Env.BaseURL}}/read">已读</a></span>
          {{ else }}
          <span class="nav-item btn"><a href="{{$.Env.BaseURL}}/read">已读</a></span>
          {{ end }}
          {{ if eq $.Page.Active "link-find"}}
          <span class="nav-item btn active"><a href="{{$.Env.BaseURL}}/link/find">+书签</a></span>
          {{ else }}
          <span class="nav-item btn"><a href="{{$.Env.BaseURL}}/link/find">+书签</a></span>
          {{ end }}
          {{ if eq $.Page.Active "tags"}}
          <span class="nav-item btn active"><a href="{{$.Env.BaseURL}}/tags">标签</a></span>
          {{ else }}
          <span class="nav-item btn"><a href="{{$.Env.BaseURL}}/tags">tags</a></span>
          {{ end }}
          {{ if eq $.Page.Active "setting"}}
          <span class="nav-item btn active"><a href="{{$.Env.BaseURL}}/setting">设置</a></span>
          {{ else }}
          <span class="nav-item btn"><a href="{{$.Env.BaseURL}}/setting">设置</a></span>
          {{ end }}
          <span class="nav-item btn" onclick="logout('{{$.Env.BaseURL}}/login')">登出</span>
        </div>
      </header>
      <div class="content">
        {{ template "content" . }}
      </div>
      <!-- <footer>
      </footer> -->
    </div>
  </body>
</html>

{{ end }}
