{{ define "style"}}
  <link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_add.css" />
  <link rel="stylesheet" href="{{$.Env.BaseURL}}/static/css/link_edit.css" />
{{ end }} 

{{ define "content"}}
<form action="{{$.Env.BaseURL}}/link/update/{{.Data.Link.ID}}" method="post">
  <details open>
    <summary>{{ i18n "page.lin.edit.detail.basic.summary" $.Page.Lang }}</summary>
    <ul>
      <li>
        <label for="title">{{ i18n "page.lin.edit.title.label" $.Page.Lang }}</label>
        <input type="text" name="title" value="{{.Data.Link.Title}}" placeholder="{{ i18n "page.lin.edit.title.label" $.Page.Lang }}" />
      </li>
      <li>
        <label for="url">{{ i18n "page.lin.edit.url.label" $.Page.Lang }}</label>
        <input type="text" name="url" value="{{.Data.Link.Url}}" placeholder="{{ i18n "page.lin.edit.url.label" $.Page.Lang }}" />
      </li>
      <li>
        <label for="icon">{{ i18n "page.lin.edit.icon.label" $.Page.Lang }}</label>
        <input type="text" name="icon" value="{{.Data.Link.Icon}}" placeholder="{{ i18n "page.lin.edit.icon.label" $.Page.Lang }}" />
      </li>
      <li>
        <label for="desc">{{ i18n "page.lin.edit.desc.label" $.Page.Lang }}</label>
        <input type="text" name="desc" value="{{.Data.Link.Desc}}" placeholder="{{ i18n "page.lin.edit.desc.label" $.Page.Lang }}" />
      </li>
      <li>
        <input  id="tags" class="invisible" type="text" name="tags" value="{{.Data.Link.Tags | JoinTagNames}}" />
      </li>
    </ul>
  </details>
  <details>
    <summary>{{ i18n "page.lin.edit.detail.tag.summary" $.Page.Lang }}</summary>
    <div class="tag-update">
      <div class="tag-box">
        <label >{{ i18n "page.lin.edit.applied-tags.label" $.Page.Lang }}</label>
        <select id="current-tag"  multiple="multiple" size="5" >
          {{ range .Data.Link.Tags }}
          <option value="{{.Name }}">{{.Name }}</option>
          {{ end }}
          </select>
      </div>
      <div class="tip">
        <p>{{ i18n "page.lin.edit.tip" $.Page.Lang }}</p>
        <p>↓&nbsp;&nbsp;↑</p>
      </div>
      <div class="tag-box">
        <label >{{ i18n "page.lin.edit.all-tags.label" $.Page.Lang }}</label>
        <select id="all-tag"  multiple="multiple" size="10">
          {{ range .Data.Tags }}
          <option value="{{.Name }}">{{.Name}}</option>
          {{ end }}
          </select>
      </div>
    </div>
  </details>
  <button class="submit" type="submit" onclick="return confirm('{{ i18n "confirm.update" $.Page.Lang }}')">{{ i18n "button.update" $.Page.Lang }}</button>
</form>
<script defer>
  let allTagEle = document.getElementById('all-tag')
  let curTagEle = document.getElementById('current-tag')
  let tagsEle = document.getElementById('tags')
  function changeTageItems(name, flag){
    let names = tagsEle.value.split(',')
    if (flag == 1){
      names.push(name)
    } else {
      names.splice(names.indexOf(name), 1)
    }
    tagsEle.value = names.join('&')
    console.log(tagsEle.value)
  }
  allTagEle.addEventListener('dblclick', function(e) {
    if(e.target instanceof HTMLSelectElement){
      return
    }
    curTagEle.appendChild(e.target)
    changeTageItems(e.target.value, 1)

  })
  curTagEle.addEventListener('dblclick', function(e) {
    if(e.target instanceof HTMLSelectElement){
      return
    }
    allTagEle.appendChild(e.target)
    changeTageItems(e.target.value, 0)
  })
</script>
{{ end }}
