{{ define "style"}}

{{ end}}

{{ define "content" }}
<form action="{{$.Env.BaseURL}}/user/register" style="display: flex;flex-direction:column;gap:1em;" method="post">
  <input type="text" name="username" placeholder="{{ i18n "page.register.username.label" $.Page.Lang }}" />
  <input type="password" name="password" placeholder="{{ i18n "page.register.password.label" $.Page.Lang }}"></textarea>
  <input type="password" name="password-confirm" placeholder="{{ i18n "page.register.password-confirm.label" $.Page.Lang }}"></textarea>
  <span><a href="{{$.Env.BaseURL}}/login">{{ i18n "page.register.to-register.lable" $.Page.Lang }}</a></span>
  <button class="submit" type="submit">{{ i18n "button.register" $.Page.Lang }}</button>
</form>

{{ end }}
